* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Muli', sans-serif;
}


/* container main  index */
.container{
  display: flex;
  justify-content: center;
}

.row{
  display: flex;
  width: 70%;
  justify-content: center;
}

.icon-social{
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.icon-tele{
  font-size:40px;
  padding: 8px; 
  color: #6baefa;
}
.icon-tele:hover{
  color: skyblue;
}

.icon-whas{
  font-size:40px; 
  padding: 8px; 
  color:green
}
.icon-whas:hover{
  color: #87fc72;
}

.icon-insta{
  font-size:40px; 
  padding: 8px; 
  color:darkred;
}
.icon-insta:hover{
  color: #ff6262;
}

.icon-tik{
  font-size:40px; 
  padding: 8px; 
  color: black;
}
.icon-tik:hover{
  color: dimgray;
}


/* index section IMG */
.portafolio{
  background: #f2f2f2;
  margin: 30px 0px;
}

.galeria-port{
  display: flex;
  justify-content: center;
}

.imagen-port{
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-galeria{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: rgba(128, 6, 132, 0.378);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover-galeria img{
  width: 50px;
}

.hover-galeria p{
  color: #fff;
}

.imagen-port:hover .hover-galeria{
  transform: scale(1);
}

.text-p{
  font-size: 25px;
  font-weight: 500;
}

.sub-titulo-mol{
  display: flex;
  justify-content: center;
  margin: 30px 20px;
  font-size: 28px;
}
/* FIN CSS index img */


.header {
  /* background-color: #FFAFCC; */
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title-main { 
  color: #111; 
  font-family: 'Open Sans Condensed', sans-serif; 
  font-size: 64px; 
  font-weight: 700; 
  line-height: 64px; 
  margin: 0 0 0; 
  padding: 20px 30px; 
  text-align: center;
  font-style: italic;
  text-decoration: underline;
}

.text-main{
  font-size: 1rem/* 16px */;
  line-height: 1.5rem/* 24px */;
  text-align: center;
  color: black;
}
.conten-text-hd{
  width: 100%;
}
.container-img-profile{
  padding-left: 1rem/* 16px */;
  padding-right: 1rem/* 16px */;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1rem;
}
.sub-container-block-img{
  margin-top: 6rem
}
.sub-block-img{
  display: flex;
  align-items: flex-end;
}
.sub-block-img__2{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1.5rem/* 24px */;
  margin-bottom: 1.5rem/* 24px */;

}
.sub__2-container-block-img{
  margin-left: 1.5rem/* 24px */;
}

.subb__2-conainer-2{
  display: flex;
  align-items: center;
  margin-top: 1.5rem/* 24px */;
}

.content-img__1{
  width: 5rem/* 80px */;
  height: 5rem/* 80px */;
  border-radius: 0.5rem/* 8px */;
  margin-right: 1.5rem/* 24px */;
}
.content-img__2{
  width: 12rem/* 192px */;
  height: 9rem/* 144px */;
  border-radius: 0.5rem/* 8px */
}
.content-img__3{
  width: 18rem/* 288px */;
  height: 20rem/* 320px */;
  border-radius: 0.5rem/* 8px */;
}
.content-img__4{
  width: 12rem/* 192px */;
  height: 12rem/* 192px */;
  border-radius: 0.5rem/* 8px */;
}
.content-img__5{
  width: 5rem/* 80px */;
  height: 5rem/* 80px */;
  border-radius: 0.5rem/* 8px */;
  margin-left: 1.5rem/* 24px */;
  object-fit: cover;
}


.row-main-content {
  /* background: linear-gradient(#FFAFCC, #CDB4DB); */
  min-height: calc(100vh - 200px);
}

.main-card{
  width: 100%;
  margin: auto;
  display: grid;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.grid-card-item{
  background-color: rgb(255 200 221 / 27%);
  border-radius: 10px;
  border-color: rgb(250 50 64 / 50%);
  border-style: outset;
  border-width: 2px;
  height: 4rem;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.grid-card-item:hover {
  background-color: rgb(248, 224, 237);
}

.all-content-card{
  display: flex;
  align-items: center;
  padding: 10px;
}
.list-item{
  text-decoration:none;
}
span.link-title:hover {
  color: rgb(255, 38, 0);
}
.link-content{
  padding-left: 12px;
}

.link-content .link-title {
  transition: all .3s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(38 50 56);
  font-weight: bolder;
}
.link-content .link-text {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  position: relative;
  top: 1px;
  z-index: 10;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:  rgb(255 38 0);
}

.links-notice18__text{
  margin-left: 15px;
  font-weight: 700;
  color: rgb(0 0 255);
}

@media (max-width: 768px) {
  .row{
    display: flex;
    flex-direction: column;
  }
  .img-log{
    width: 100%;
  }
}


@media (max-width: 1024px) {
  .row{
    width: 90%;
  }
}

@media (min-width: 640px) {
  .main-card {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      max-width: 640px;
  }

  .text-main{
    max-width: 640px;
  }
  
}

@media (min-width: 768px) {
  .main-card {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .main-card  {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      width: 45%;
  }
}

.footer{
  /* background-color: #CDB4DB; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}
.footer a{
  color: black;
  cursor: pointer;
  font-size: 14px; 
  padding: 10px;
  text-decoration:none;
}

.footer a:hover{
  text-decoration: underline;
}

.creat-ft{
  color: blue;
  font-weight: bold;
}


/* Dark Mode  */
.container-btn-mode{
  position: absolute;
  top:20px;
  right: 30px;
  cursor: pointer;
  z-index: 2;
  font-size:0;
}
.btn-mode{
  display: inline-block;
  width: 50px;
  height: 30px;
  border:2px solid black;
  transition: background-color .5s;
}
.btn-mode i {
  display: block;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
}
.btn-mode.sun{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid transparent;
}
.btn-mode.moon{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.active{
  background-color:black;
  color:#ffcd5c !important;
}

.dark-mode{
  background-color: rgb(13 17 23);
  transition:background-color .5s;
}
.dark-mode .card{
  background-color: #1A1C1E;
}
.dark-mode h1, .dark-mode h2, .dark-mode span, .dark-mode .footer a, .dark-mode .btn-contact{
  color:white;
}

.dark-mode .link-title{
  color: white;
  font-weight: 500;
}
.dark-mode  .grid-card-item:hover{
  background-color: rgb(255 200 221 / 15%);
}
.dark-mode .btn-mode{
  background-color:#1A1C1E;
  border:1px solid white;
  color:white;
}

.dark-mode .links-notice18__text, .dark-mode .creat-ft{
  color: rgb(0 179 255);
}