body {
  margin: 0;
  font-family: 'Muli', sans-serif;
}

.header {
  background-color: #FFAFCC;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title-main{
  font-size: 3.75rem/* 60px */;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  color: black;
}

.text-main{
  font-size: 1rem/* 16px */;
  line-height: 1.5rem/* 24px */;
  text-align: center;
  color: black;
}
.conten-text-hd{
  width: 100%;
}
.container-img-profile{
  padding-left: 1rem/* 16px */;
  padding-right: 1rem/* 16px */;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1rem;
}
.sub-container-block-img{
  margin-top: 6rem
}
.sub-block-img{
  display: flex;
  align-items: flex-end;
}
.sub-block-img__2{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1.5rem/* 24px */;
  margin-bottom: 1.5rem/* 24px */;

}
.sub__2-container-block-img{
  margin-left: 1.5rem/* 24px */;
}

.subb__2-conainer-2{
  display: flex;
  align-items: center;
  margin-top: 1.5rem/* 24px */;
}

.content-img__1{
  width: 5rem/* 80px */;
  height: 5rem/* 80px */;
  border-radius: 0.5rem/* 8px */;
  margin-right: 1.5rem/* 24px */;
}
.content-img__2{
  width: 12rem/* 192px */;
  height: 9rem/* 144px */;
  border-radius: 0.5rem/* 8px */
}
.content-img__3{
  width: 18rem/* 288px */;
  height: 20rem/* 320px */;
  border-radius: 0.5rem/* 8px */;
}
.content-img__4{
  width: 12rem/* 192px */;
  height: 12rem/* 192px */;
  border-radius: 0.5rem/* 8px */;
}
.content-img__5{
  width: 5rem/* 80px */;
  height: 5rem/* 80px */;
  border-radius: 0.5rem/* 8px */;
  margin-left: 1.5rem/* 24px */;
  object-fit: cover;
}


.row-main-content {
  background: linear-gradient(#FFAFCC, #CDB4DB);
  min-height: calc(100vh - 200px);
}

.main-card{
  width: 100%;
  margin: auto;
  display: grid;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.grid-card-item{
  background-color: white;
  border-radius: 10px;
  border-color: rgb(250 50 64 / 50%);
  border-style: outset;
  border-width: 2px;
  height: 4rem;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.grid-card-item:hover {
  background-color: rgb(255, 240, 248);
}

.all-content-card{
  display: flex;
  align-items: center;
  padding: 10px;
}
.list-item{
  text-decoration:none;
}
span.link-title:hover {
  color: rgb(255, 38, 0);
}
.link-content{
  padding-left: 12px;
}

.link-content .link-title {
  transition: all .3s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(38 50 56);
  font-weight: bolder;
}
.link-content .link-text {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  position: relative;
  top: 1px;
  z-index: 10;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:  rgba(250, 50, 63, 0.908);;
}

.links-notice18__text{
  margin-left: 15px;
  font-weight: 700;
  color: rgb(0 0 255);
}

@media (min-width: 640px) {
  .main-card {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      max-width: 640px;
  }

  .text-main{
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .main-card {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .main-card  {
      grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.footer{
  background-color: #CDB4DB;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}
.footer a{
  color: black;
  cursor: pointer;
  font-size: 14px; 
  padding: 10px;
  text-decoration:none;
}

.footer a:hover{
  text-decoration: underline;
}